
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    text-align: center;
    margin-block: 4rem;
   
}
.hero-text h1{
    font-size: 1.5rem;
}
.hero-image img{
    object-fit: cover;
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    text-align: center;
    margin-block: 4rem;
   
}
.hero-text h1{
    font-size: 1.5rem;
}
.hero-image img{
    object-fit: cover;
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    text-align: center;
    margin-block: 4rem;
   
}
.hero-text h1{
    font-size: 1.5rem;
}
.hero-image img{
    object-fit: cover;
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    text-align: center;
    margin-block: 4rem;
   
}
.hero-text h1{
    font-size: 1.5rem;
}
.hero-image img{
    object-fit: cover;
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    text-align: center;
    margin-block: 4rem;
   
}
.hero-text h1{
    font-size: 1.5rem;
}
.hero-image img{
    object-fit: cover;
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    text-align: center;
    margin-block: 4rem;
   
}
.hero-text h1{
    font-size: 1.5rem;
}
.hero-image img{
    object-fit: cover;
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    text-align: center;
    margin-block: 4rem;
   
}
.hero-text h1{
    font-size: 1.5rem;
}
.hero-image img{
    object-fit: cover;
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    text-align: center;
    margin-block: 4rem;
   
}
.hero-text h1{
    font-size: 1.5rem;
}
.hero-image img{
    object-fit: cover;
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    text-align: center;
    margin-block: 4rem;
   
}
.hero-text h1{
    font-size: 1.5rem;
}
.hero-image img{
    object-fit: cover;
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    text-align: center;
    margin-block: 4rem;
   
}
.hero-text h1{
    font-size: 1.5rem;
}
.hero-image img{
    object-fit: cover;
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    text-align: center;
    margin-block: 4rem;
   
}
.hero-text h1{
    font-size: 1.5rem;
}
.hero-image img{
    object-fit: cover;
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    text-align: center;
    margin-block: 4rem;
   
}
.hero-text h1{
    font-size: 1.5rem;
}
.hero-image img{
    object-fit: cover;
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    text-align: center;
    margin-block: 4rem;
   
}
.hero-text h1{
    font-size: 1.5rem;
}
.hero-image img{
    object-fit: cover;
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    text-align: center;
    margin-block: 4rem;
   
}
.hero-text h1{
    font-size: 1.5rem;
}
.hero-image img{
    object-fit: cover;
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    text-align: center;
    margin-block: 4rem;
   
}
.hero-text h1{
    font-size: 1.5rem;
}
.hero-image img{
    object-fit: cover;
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    text-align: center;
    margin-block: 4rem;
   
}
.hero-text h1{
    font-size: 1.5rem;
}
.hero-image img{
    object-fit: cover;
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    text-align: center;
    margin-block: 4rem;
   
}
.hero-text h1{
    font-size: 1.5rem;
}
.hero-image img{
    object-fit: cover;
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    text-align: center;
    margin-block: 4rem;
   
}
.hero-text h1{
    font-size: 1.5rem;
}
.hero-image img{
    object-fit: cover;
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    text-align: center;
    margin-block: 4rem;
   
}
.hero-text h1{
    font-size: 1.5rem;
}
.hero-image img{
    object-fit: cover;
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    text-align: center;
    margin-block: 4rem;
   
}
.hero-text h1{
    font-size: 1.5rem;
}
.hero-image img{
    object-fit: cover;
}
/* Status */
.status-container{
    padding: 0 2rem;
}
.status div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 0;
}
.status-num {
    font-size: 3rem;
    font-weight: var(--fw-700);
}
.status-text{
    color: #808080;
}
.status div img{
    width: 1.5rem;
    align-self: flex-start;
}
/* Features */
 
.feature-flex{
    display: flex;
    flex-direction: column;
    gap: 8rem;
}
.feature-group{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 5rem;
    padding:0 30px;
    
}
.feature-group h2{
    font-size: 1.2rem;
}
.feature-group img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.feature-group:first-child::before{
    content: '';
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./images/bg-section-top-mobile-1.svg') no-repeat center top;
    background-size: contain;
}
.feature-group:first-child::after{
    content: '';
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./images/bg-section-bottom-mobile-1.svg') no-repeat center bottom;
    background-size: contain;
}
.feature-group:first-child{
    background: var(--clr-very-pale-blue);
    position: relative;
    background-position:top 10% ;
    padding: 100px 30px;
    
}
 .feature-group:first-child *{z-index: 1000;}
 /* last child */
 .feature-group:last-child{
    background: var(--clr-very-pale-blue);
    position: relative;
    background-position:top 10% ;
    padding: 100px 30px;
 }
 .feature-group:last-child::before{
    content: '';
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./images/bg-section-top-mobile-2.svg') no-repeat center top;
    background-size: contain;
}
.feature-group:last-child::after{
    content: '';
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./images/bg-section-bottom-mobile-2.svg') no-repeat center bottom;
    background-size: contain;
}
/* CTA */
.cta-content{
    text-align: center;
}
.cta-content h2{
    font-size: 1.5rem;
}
/* Footer */
.main-footer{
    background: var(--clr-very-dark-cyan);
    color: #fff;
    position: relative;
}
.bg-footer-mobile{
    background: url(./images/bg-footer-top-mobile.svg) no-repeat center top/cover;
    width: 100%;
    height: 10%;
    position: absolute;
    top: -69px;
}
.bg-footer-mobile img{
    object-fit: cover;
    width: 100%;
}
.main-footer a{color: #fff;}
 
.main-footer .footer-logo{
    width: 13rem;
}
.main-footer h3{
font-size: 1.3rem;
font-family: var(--ff-body);
letter-spacing: 1px;
text-transform: uppercase;
}
.footer-grid{
    display: grid;
    gap: 5rem;
} 
.col-a{
    grid-row-start: 2;
    grid-row-end: 3;
}
.col-b{
    grid-row: 1 / 2;
}
/* Newsletter */
.subcription-form{
    display: flex;
    flex-direction: column-reverse;
}
 .input-group{
    width: 100%;
    font-size: 0.8rem;
     
}
.input-email{
    width: 100%;
    height: 100%;
    padding: 1rem; 
    border-radius: 0.3rem;
    display: block;
}
.btn-subscribe{
    align-self: flex-end;
    margin: 0;
}
/* col-a */
.footer-banner p{
    margin: 1rem 0;
}
.col-a p{
    margin-block: 0.6rem;
}
.contact-info div{
    display: flex;
    gap: 1rem;
    align-items: center;
    flex: 1;
}
.contact-info{
    margin-block: 3rem;
}