@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');
:root{
--clr-pink: hsl(322, 100%, 66%);
--clr-light-pink: hsl(321, 100%, 78%);
--clr-light-red: hsl(0, 100%, 63%);
--clr-very-dark-cyan: hsl(192, 100%, 9%);
--clr-very-pale-blue: hsl(207, 100%, 98%);
--clr-light-blue: hsl(210, 96%, 53%);
--clr-light-grey: hsl(0, 0%, 57%);

--ff-body: 'Open Sans', sans-serif;
--ff-headings: 'Poppins', sans-serif;
--fw-400: 400;
--fw-600: 600;
--fw-700: 700;

--max-width: 1100px;
}
body{
    font-family: var(--ff-body);
    color: var(--clr-very-dark-cyan);
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--ff-headings);
    font-weight: var(--fw-700);
    margin: 0.5rem 0;
    font-size: 1rem;
}
p{margin: 1rem 0;}
a{color: #333;text-decoration: none;}
ul{list-style: none;}
input[type="email"]{border: none;}
/* Utilities */
 .container{
    padding: 0 10px;
    max-width: var(--max-width);
    width: 95%;
    margin: 0 auto;
} 
.btn{
    border: none;
    padding: 0.6rem 2rem;
    text-align: center;
    display: inline-block;
    border-radius: 2rem;
    font-weight: var(--fw-700);
    margin-block: 1rem;
    font-size: 0.7rem;
    cursor: pointer;
    color: #fff;
    background-color: var(--clr-pink);
}
.btn-cta{
    padding: 0.1rem 1rem;
    font-size: 0.8rem;
    color: var(--clr-pink);
    border: 1px solid var(--clr-pink);
    border-radius: 1rem;
}
.btn-subscribe{border-radius: 0.3rem;}
.btn-subscribe:hover ~ .input-group > .input-email{outline: 1px solid var(--clr-light-red);}
.btn-subscribe:hover ~ .input-group > .label{visibility: visible;}
.btn:hover{background: var(--clr-light-pink);}
.btn-cta:hover{color: var(--clr-light-pink);border-color: var(--clr-light-pink);}
.social a:hover{color: var(--clr-light-blue);}
.label{color: var(--clr-light-red);visibility: hidden;font-size: 0.8rem;}
.shadow{box-shadow: 0 4px 4px rgba(187, 187, 187, 0.925);}
.bg-light{background: var(--clr-very-pale-blue);}
.bg-dark{background: var(--clr-very-dark-cyan);}
 
.py-2{padding: 2rem 0;}
.py-3{padding: 3rem 0;}
.py-4{padding: 4rem 0;}
.py-5{padding: 5rem 0;}
.py-6{padding: 6rem 0;}

/* Hero */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    padding: 0 1.5rem;
}
.header-logo{
    width: 7rem;
}
.hero-content{
    display: grid;
    grid-gap: 3.5rem;
    margin: 5rem 0;
    text-align: center;
}
.hero-text h1{
    font-size: 1.7rem;
}
.hero-image img{
    object-fit: contain;
    width: 90%;
    margin: 0 auto;
}
/* status */
.status-container{
    display: grid;
    place-content: center;
    grid-template-rows:1fr 10rem 1fr;
}
.status-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.8rem;
}
.status-container div > img{
    align-self: flex-start;
    width: 2rem;
}
.status-container div:last-child{
    grid-row-start: 3;
}
.status-num{
    font-size: 4rem;
    font-weight: var(--fw-700);
}
.status-text{
    color: var(--clr-light-grey);
    font-weight: var(--fw-600);
}
/* Feature */
.feature-grid{
    display: grid;
    gap: 15rem;
}
.feature-content{
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 4rem;
    padding: 5rem 3rem 4rem;}
    
.feature-content div >  h2{
    font-size: 1.2rem;
}
.feature-content img{
    grid-row: 1 /2;
    width: 90%;
    justify-self: center;
}
/* cta */
.cta{
    padding-bottom: 15rem;
}
.cta-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}
.btn-2{
    align-self: center;
}
.cta-content h2{
    font-size: 1.5rem;
}
/* Footer */
footer, footer a{color: #fff;}
.footer-container{
    display: grid;
    gap: 5rem;
}
.col-b{
    grid-row: 1 / 3;
}
.col-b h3{
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: var(--fw-400);
    letter-spacing: 1px;
}
.subscription-form{
    display: flex;
    flex-direction: column-reverse;
}
.input-group .input-email{
    width: 100%;
    padding: 1rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
}
.btn-subscribe{
    align-self: flex-end;
    margin: 0;
}
.contact-info div{
    display: flex;
    align-items: center;
    height: 50px;
    gap: 1rem;
}
.social{
    display: flex;
    gap: 1rem;
    margin-block: 2rem;
    
}